body {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#green {
    grid-column-start: 1;
    grid-column-end: 4;
}

#yellow ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#red ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

#orange {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#blue {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}