#articolo {
    border: 1px solid black;
    height: 580px;
    width: 250px;
}

#imgg {
    max-width: 100%;
    height: auto;
    border-bottom: solid black;
}

#intro {
    border-bottom: 1px solid black;
}

#item1 {
    border-bottom: 1px solid black;
}

#item2 {
    border-bottom: 1px solid black;

}

#item3 {
    border-bottom: 1px solid black;
}

#item4 {
    padding-left: 8px;

}